# Practical 1

## Algorithms practice

###### Given two integer return their product only if the product is less than or equal to 500, else return their sum.

In [1]:
def example1(int1, int2):
    prod = int1*int2
    
    if prod <= 500:
        return prod
        
    else:
        return int1 + int2

    

print("First set result:")
print(example1(15,25))

print("Second set result:")
print(example1(20,60))

First set result:
375
Second set result:
80

###### Using the following list of numbers  [15, 23, 25, 37, 41, 60] print only those numbers which are divisible by 5. (Hint: Use a loop)

In [2]:
num_list = [15, 23, 25, 37, 41, 60]

for num in num_list:
    if num % 5 == 0:
        print(num)

15
25
60

###### Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [5]:
prev = 0

for i in range(0, 11):
    sum = prev + i
    print("Sum: ", sum)
    prev = i

Sum:  0
Sum:  1
Sum:  3
Sum:  5
Sum:  7
Sum:  9
Sum:  11
Sum:  13
Sum:  15
Sum:  17
Sum:  19

###### Using while loops print 10 numbers with different starting values

Starting value : 1

Starting value : 15

In [6]:
i = 1
n10 = i + 9

while i <= n10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [7]:
i = 15
n10 = i + 9

while i <= n10:
    print(i)
    i += 1

15
16
17
18
19
20
21
22
23
24

### While loops are continuous until reaching a specified stopping point!!!

###### Calculate Julie's income tax for R65 000 by adhering to these rules: The first R10 000 income is not taxed, the next R20 000 is taxed 15% and the remaining is taxed 25%.

In [8]:
inc = 75000
tax = 0

if inc <= 10000: #Initial 10 000
    tax = 0
    
elif inc <= 30000:
    taxable = inc - 10000 #Take out initial 10 000
        
    tax = taxable * 0.15
        
else:
        
    tax = 20000 * 0.15
        
    tax += (inc - 30000) * 0.25
        
print(tax)

def tax(income):
    
    if income <= 10000: #Initial 10 000
        tax = 0
        
        
    
    elif income <= 30000:
        taxable = income - 10000 #Take out initial 10 000
        
        tax = taxable * 0.15
        
    else:
        
        tax = 20000 * 0.15
        
        tax += (income - 30000) * 0.25
        
    
    return tax
    
print(tax(75000))
print(tax(25000))

14250.0
14250.0
2250.0

###### Write a program to count the total number of digits in a number using a while loop.

In [9]:
num1 = 3752
count = 0

while num1 != 0:
    # Take the last digit out of the number given by using '//'
    num1 = num1 // 10
    
    count = count + 1
    
print(count)

num2 = 1598321
count = 0

while num2 != 0:
    num2 = num2 // 10
    
    count = count + 1
    
print(count)

4
7